<div layout="row" layout-fill ng-class="getColorClass()">
    <div flex="40" layout-fill hide-sm hide-md style="height: 100%">
        <leaflet center="map.center" markers="map.markers" tiles="map.tiles" width="100%" height="100%"></leaflet>
    </div>
    <div flex layout-lg="row" layout-gt-lg="row" layout-fill layout-sm="column" layout-md="column" class="agenda__wrapper">
        <ng-include src="'app/components/categories/categories.html'" flex hide-sm hide-md></ng-include>
        <div flex class="agenda" layout-fill>
            <md-toolbar class="color-bg" layout-padding layout-align="center center">Agenda</md-toolbar>
            <div flex class="agenda__list">
                <md-select ng-model="category" hide show-sm show-md>
                    <md-option ng-value="undefined" ng-selected>Tous</md-option>
                    <md-option ng-value="'BD'">BD</md-option>
                    <md-option ng-value="'Cinéma'">Cinéma</md-option>
                    <md-option ng-value="'Danse'">Danse</md-option>
                    <md-option ng-value="'Littérature'">Littérature</md-option>
                    <md-option ng-value="'Musique'">Musique</md-option>
                    <md-option ng-value="'Photo / Art contemporain'">Photo / Art contemporain</md-option>
                    <md-option ng-value="'Theâtre / Arts de la rue / Cirque'">Theâtre / Arts de la rue / Cirque</md-option>
                    <md-option ng-value="'Autres'">Autres</md-option>
                </md-select>
                <span class="color-fg agenda__list__title">Aujourd'hui</span>
                <input type="date" ng-model="day" ng-change="changeDate()" />
                <div ng-repeat="festival in festivals | orderBy:'startDate'" class="agenda__list__item"
                     ng-click="selectFestival(festival.id)" layout-padding ng-class="getFestivalClass(festival)">
                    <span class="agenda__list__item__name color-fg">{{ festival.name }}</span>
                    <span class="agenda__list__item__date">
                        <i class="fa fa-chevron-right color-fg"></i> Du {{ festival.startDate.format('DD/MM') }} au {{ festival.endDate.format('DD/MM') }}, {{ festival.town }}
                    </span>
                    <span class="agenda__list__item__category"><i class="fa fa-circle fa-small color-fg"></i> {{ festival.category }}</span>
                </div>
            </div>
        </div>
        <div flex="50" style="background-color: #fff">
            <md-toolbar class="color-bg" layout-padding layout-align="center"></md-toolbar>
            <div layout-padding ng-show="selectedFestival!=null">
                <h2 class="color-fg">{{ selectedFestival.name }}</h2>
                <p>{{ selectedFestival.description }}</p>
                <p><a ng-href="{{ selectedFestival.website }}" target="_blank" class="color-fg">{{ selectedFestival.website }}</a></p>
            </div>
        </div>
    </div>
</div>