md-toolbar.md-default-theme, .md-button.md-default-theme.md-primary.md-raised {
    background-color: #c42121 !important;
}

.agenda__list__item {
    &.selected, &.selected:hover {
        background-color: #c42121;
    }

    &:hover {
        background-color: lighten(#c42121, 20%)
    }
}